/*!  author: samarthmshah */
@import "custom_filters";
@import "custom_colors";
@import "header";
.breakpic {
    box-shadow: inset 0 0 0 2000px $transparent_white_15;
    position: relative;
    height: 400px;
    background: {
        repeat: no-repeat;
        size: cover;
        attachment: fixed;
        position: center center;
    }
}
#wxbreakpic {
    @extend .breakpic;
    background-image: url("../images/workex.jpg");
}
#pbreakpic {
    @extend .breakpic;
    background-image: url("../images/projects.jpg");
}
#edbreakpic {
    @extend .breakpic;
    background-image: url("../images/education.jpg");
}
#rbreakpic {
    @extend .breakpic;
    background-image: url("../images/resume-bg.jpg");
}
.break-title {
    position: absolute;
    width: 100%;
    text-align: center;
    h3 {
        color: white;
        margin-top: 195px;
        padding: 10px 20px;
        border-radius: 15px;
        @include breakpoint(mobileonly) {
            font-size: 2.25em;
            font-weight: 450;
            text-shadow: 2px 3px 4px rgba(0,0,0,0.5);
        }
        @include breakpoint(tablet) {
            font-size: 2.25em;
            font-weight: 500;
            text-shadow: 3px 4px 5px rgba(0,0,0,0.5);
        }
        @include breakpoint(laptop) {
            font-size: 2.25em;
            font-weight: 600;
            text-shadow: 4px 5px 6px rgba(0,0,0,0.5);
        }
    }
}
#about-me-dots {
    width: 100%;
    height: 400px;
    position: relative;
    background: {
        image: url("../images/about-me.jpg");
        attachment: fixed;
        repeat: no-repeat;
        size: cover;
        position: center center;
    }
    #about-me-title {
        @extend .break-title;
        text-align: center;
        top: 0;
    }
    // Below code is to fix the particle.js taking up a lot of space.
    #dos-dots-doe {
        width: 100%;
        height: 400px;
        canvas {
            display: block;
            vertical-align: bottom;
        }
    }
}
.resume-icon {
    @extend .icon;
    background-color: rgba(255, 255, 255, 0.1);
}
