$solarized_light: #fdf6e3;
$transparent_white_2: rgba(0,0,0,0.02);
$transparent_white_3: rgba(0,0,0,0.3);
$transparent_white_4: rgba(0,0,0,0.4);
$transparent_white_6: rgba(255,255,255,0.6);
$transparent_white_7: rgba(255,255,255,0.7);
$transparent_white_15: rgba(0,0,0,0.15);
$transparent_white_9: rgba(255,255,255,0.9);
$red: #cc4e46;
$pale: #ede6dc;
$lightpale: #f2ece5;
$paleborder: #eee7dd;
$palefootertext: #d2d0c2;
$modulebackground: #d0cdc4;
$dark: #333;
