/*!  author: samarthmshah */
@import 'custom_colors';
@import 'custom_filters';
$font_weight: 400;
body {
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: $font_weight;
    background-color: white;
    opacity: 2;
}
.header-box {
    position: relative;
    height: 100vh; // CSS3 baby
    width: 100vw; // CSS3 baby
    margin: 0;
    padding: 0;
    top: 0;
    box-shadow: inset 0 0 0 2000px $transparent_white_15;
    overflow: hidden;
    #hero-image {
        // @include filter_mixin(blur(4px));
        opacity: 0.6;
        height: 100%;
        width: 100%;
        background: {
            image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(get_random_background());
            position: top center;
            attachment: fixed;
            size: cover;
        }
    }
}
.intro-text {
    position: absolute;
    top: 50%;
    margin-top: -175px;
    width: 100%;
    text-align: center;
    #dp {
        height: 120px;
        width: 120px;
        @include border-radius(100%);
        border: 3px solid white;
    }
    h3 {
        color: white;
        @include breakpoint(mobileonly) {
            font-size: 2.25em;
            font-weight: 450;
            text-shadow: 2px 3px 4px rgba(0,0,0,0.5);
        }
        @include breakpoint(tablet) {
            font-size: 2.25em;
            font-weight: 500;
            text-shadow: 3px 4px 5px rgba(0,0,0,0.5);
        }
        @include breakpoint(laptop) {
            font-size: 2.25em;
            font-weight: 600;
            text-shadow: 4px 5px 6px rgba(0,0,0,0.5);
        }
    }
    p {
        color: white;
        opacity: 8;
        @include breakpoint(mobileonly) {
            font-size: 1em;
            font-weight: 400;
            text-shadow: 1px 2px 3px rgba(0,0,0,0.2);
            line-height: 0.1;
        }
        @include breakpoint(tablet) {
            font-size: 1.3em;
            font-weight: 600;
            text-shadow: 2px 3px 4px rgba(0,0,0,0.2);
            line-height: 0.1;
        }
        @include breakpoint(laptop) {
            font-size: 1.3em;
            font-weight: 700;
            text-shadow: 3px 4px 5px rgba(0,0,0, 0.2);
            line-height: 0.1;
        }
    }
    ul.inline-list {
        position: absolute;
        left: 50%;
        margin-left: -193px;
    }
}
#hero-location {
    position: absolute;
    top: 7px;
    left: 10px;
    color: white;
    opacity: 0.5;
    @include breakpoint(mobileonly) {
        font-size: 0.7em;
        font-weight: 400;
    }
    @include breakpoint(tablet) {
        font-size: 1.2em;
        font-weight: 500;
    }
    @include breakpoint(laptop) {
        font-size: 1.6em;
        font-weight: 600;
    }
}
#follow {
    @include breakpoint(mobileonly) {
        display: none;
    }
    position: absolute;
    bottom: 2px;
    right: 2px;
    color: white;
    opacity: 0.8;
}
.follow-icons-base-class {
    @include breakpoint(mobileonly) {
        @include scale(0.9, 0.9);
        position: absolute;
        margin: 0;
        right: 0;
        bottom: 0;
    }
    @include breakpoint(tablet) {
        @include scale(0.8, 0.8);
        position: relative;
        margin: 0.5px;
        clear: right;
        float: right;
    }
    @include breakpoint(laptop) {
        position: relative;
        margin: 1px;
        clear: right;
        float: right;
    }
}
.fb-follow {
    @extend .follow-icons-base-class;
    @include breakpoint(mobileonly) {
        bottom: 45px;
    }
}
.gh-follow {
    @extend .follow-icons-base-class;
    @include breakpoint(mobileonly) {
        bottom: 20px;
    }
}
.so-follow {
    @extend .follow-icons-base-class;
    @include breakpoint(mobileonly) {
        bottom: 0;
    }
}
.icon {
    color: white;
    opacity: 0.9;
    &:hover {
        color: white;
        opacity: 1;
        @include scale(1.05, 1.05);
    }
}
