/*!  author: samarthmshah */
@import 'custom_filters';
@import 'custom_colors';

#wtf-magellan{
    opacity: 0.9;
}

#nav-name{
    float: left;
    padding: 5px 10px;
    letter-spacing: -0.03rem;
    font:{
        weight: 200;
        size: 1.2em;
    };
    @media (max-width: 830px){
        width: 100%;
        margin: auto;
        text-align: center;
        border: none;
    };
}

.sub-nav dd.active a{
   background: $dead-gray;
}

.sub-nav{
    float: right;
    > {
        dd {
            padding: 5px 0px;
            @media (max-width: 715px){
                font-size: 0.7em;
            }
        }

    }
    @media (max-width: 835px){
        clear: both;
        float: left;
        width: 100%;
        margin-left: 4%;
        margin-right: 4%;
    }
    @media (max-width: 715px){
        clear: both;
        float: left;
        width: 100%;
        margin-left: 2%;
        margin-right: 2%;
    }
    @media (max-width: 620px){
        display: none;
    }
}
