// author: samarthmshah
@import 'custom_variables';
@import 'custom_filters';
$font_weight: 400;
body {
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: $font_weight;
    background-color: $transparent_white_2;
    background-color: pink;
}
.header_box {
    position: relative;
    height: 100vh; // CSS3 baby
    width: 100vw; // CSS3 baby
    margin: 0;
    padding: 0;
    top: 0;
    box-shadow: inset 0 0 0 2000px $transparent_white_15;
    // overflow: hidden;
    #hero_image {
        @include filter_mixin(blur(1.5px));
        height: 100%;
        width: 100%;
        background: {
            image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/1.jpg");
            position: top center;
            attachment: fixed;
            size: cover;
        }
    }
}
.intro-text {
    position: absolute;
    top: 50%;
    margin-top: -175px;
    width: 100%;
    text-align: center;
    #dp {
        height: 120px;
        width: 120px;
        -webkit-border-radius: 100%;
        border: 3px solid white;
    }
    h3 {
        color: white;
        opacity: 0.9;
        @media only screen {
            font-size: 2.5em;
            font-weight: 500;
            text-shadow: 2px 3px 4px rgba(0,0,0,0.5);
        }
        @media only screen and (min-width: 40.063em) {
            font-size: 2.5em;
            font-weight: 600;
            text-shadow: 3px 4px 5px rgba(0,0,0,0.5);
        }
        @media only screen and (min-width: 64.063em) {
            font-size: 2.5em;
            font-weight: 700;
            text-shadow: 4px 5px 6px rgba(0,0,0,0.5);
        }
    }
    p {
        color: $transparent_white_6;
        @media only screen {
            font-size: 1em;
            font-weight: 400;
            text-shadow: 1px 2px 3px rgba(0,0,0,0.2);
            line-height: 0.5;
        }
        @media only screen and (min-width: 40.063em) {
            font-size: 1.3em;
            font-weight: 600;
            text-shadow: 2px 3px 4px rgba(0,0,0,0.2);
            line-height: 0.5;
        }
        @media only screen and (min-width: 64.063em) {
            font-size: 1.3em;
            font-weight: 700;
            text-shadow: 3px 4px 5px rgba(0,0,0, 0.2);
            line-height: 0.5;
        }
    }
    ul.inline-list {
        position: absolute;
        left: 50%;
        margin-left: -171px;
    }
}
#hero_location {
    position: absolute;
    color: white;
    opacity: 0.5;
    top: 10px;
    left: 10px;
    @media only screen {
        font-size: 0.7em;
        font-weight: 400;
    }
    @media only screen and (min-width: 40.063em) {
        font-size: 1.2em;
        font-weight: 500;
    }
    @media only screen and (min-width: 64.063em) {
        font-size: 1.6em;
        font-weight: 600;
    }
}
.icon {
    color: white;
    opacity: 0.5;
    &:hover {
        color: white;
        opacity: 0.8;
        -webkit-transform: scale(1.1, 1.1);
    }
}

// .button {
//     font-family: 'Raleway',Helvetica,Arial,sans-serif;
// }
//
// .button-group{
//     li {
//         padding-top: 3%;
//     }
//
//     a {
//         color: black;
//         background-color: transparent;
//         &:hover{
//             color: $transparent_white_4;
//             background-color: transparent;
//         }
//     }
//
//     float: none;
//
//     @media only screen and (min-width: 40.063em){
//         float: right;
//     }
// }
//
// .namelogo {
//     padding: 20px 10px 0px 10px;
//     h1 {
//        font-size: 1.5em;
//        font-weight: 600;
//        text-align: center;
//     }
//
//     @media only screen and (min-width: 40.063em){
//         padding-bottom: 20px;
//         h1{
//             font-size: 16px;
//             text-align: left;
//         }
//     }
//
//     @media only screen and (min-width: 64.063em) {  // Suuuuper large screens ftw
//         h1{
//             font-size: 24px;
//             text-align: left;
//         }
//     }
// }
// .about,
// .work,
// .contact { padding: 50px 0 0 0 }
// .about img {
//    width: 250px;
//    height: 250px;
//    border-radius: 150px;
//    -webkit-border-radius: 150px;
//    -moz-border-radius: 150px;
// }
// .work img:hover {
//    opacity: 0.5;
//    -webkit-transition: 0.3s ease;
//    -moz-transition: 0.3s ease;
//    -ms-transition: 0.3s ease;
//    -o-transition: 0.3s ease;
//    transition: 0.3s ease;
// }
// .work li {
//    height: 140px;
//    overflow: hidden;
// }
// hr {
//    border: 0;
//    height: 1px;
//    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
//    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
//    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
//    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
//    opacity: 0.8;
// }
//
// footer { padding: 80px 0 10px 0 }
// footer a:hover {
//    color: rgba(0,0,0,0.4);
//    background-color: transparent;
// }
